<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RefreshDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>875434B11F4FD49500014DFA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>875434CA1F4FD49600014DFA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>875434D51F4FD49600014DFA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
